node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

db/pocket-base/pb_data
yarn-error.log
yarn-error.log
.env
.vscode/settings.json
.nvmrc
