node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store
src/theme/tokens.resolved.json
src/theme/tokens.json

db/pocket-base/pb_data
yarn-error.log
app/output.css
